div p{
    font-weight: bold;
    /*color: black;*/
}

/*p {
    color: #FF0000;
}*/

a:link {
    color: #00FF00;
    text-decoration: none;
}

a:visited {
    color:  #FF0000;
}

a:hover {
    background-color: gray;
    color: #FFFFFF;
}

p:first-child{
    background-color: lightblue;
}

p:last-child{
    background-color: lightgreen;
}
p:nth-child(3){
    background-color: yellow;
}

p:nth-child(odd){
    border: 1px solid black;
}