.p-one {
    width: 450px;
    border-top: 10px solid red;
    border-right: 10px solid black;
    border-bottom: 10px solid yellow;
    border-left: 10px solid blue;
    padding: 50px 0 25px 5px;
    margin-top: 20px;
    margin-left: 45px;
}
.p-two {
    width: 400px;
    border-top: 10px solid red;
    border-right: 10px solid black;
    border-bottom: 10px solid yellow;
    border-left: 10px solid blue;
    padding: 50px 0 25px 5px;
    margin-top: 20px;
    margin-left: 45px;
    box-sizing: border-box;
}