/* navがナビゲーションバーのペアレント */
/* reset */

*{
    box-sizing: border-box; /* box-sizingを使うと、marginとpaddingを合わせて計算?されますということらしい*/
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    font-family: Verdana, Geneva, sans-serif;
}


/* styling starts here*/

nav {
    display: flex;
}

nav div {
    /* outline: 1px solid green; */
    flex-grow: 7;
}

nav ul {
    /* outline: 1px solid red; */
    flex-grow: 3;   
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

nav ul li {
    flex-grow: 1;
    //width: 160px;
}

nav ul a {
    /* remove underline from links */
    text-decoration: none;
}

.branding img {
    width: 50px;
}

header {
    height: 450px;
    background-color: #00FF00;
    background-image: url(../images/topimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex; /* create flex container */
    flex-direction: column; /* set flex items in the column */
    justify-content: center; /* center item vertically */
    align-items: center; /* center item horizontally */
}

header h1 {
    color: #fff;
    font-size: 2rem;
    font-family: 'Montserrat Subrayada', sans-serif;
}

header div{
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px 5px 5px;
}

header input{
    /* box-zizingを調べる */
    /*box-sizing: border-box; */
    color: #595959;
    width: 60vw;
    padding: 15px 20px;
    font-size: 1.5rem;
    border: none;
}

header button{
    border: none;
    background-color: #ff5a5f;
    padding: 15px;
    color: #FFF;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* color pickerを調べる。他人のデザインからクロームで色を取る */

#container {
    width: 960px;
    margin: auto;
    /*background: pink; */
}

.exploring {
    margin: 20px 0 45px 0;
}

.exploring-boxes {
    width: 275px;
    height: 75px;
    border: 1px solid lightgray;
    margin: 10px;
    line-height: flex;
}
    
.exploring-boxes img {
    width: 100px;
    height: 75px;
    vertical-align:middle;
}

.exploring-parent {
    display: flex;
    /*align-items: center;
    vertical-align:middle;*/
}

.exploring-boxes a {
    padding: 25px 0 0 5px;
    
}

.introducing{
    margin-bottom: 45px; 
}

.introDiv{
    
    height: 350px;
    background: #FFF url(../images/seaside_.jpg) no-repeat;
    backgroud-size: cover;
    background-position: center center;
    padding: 30px 50px;
}

.introducing h2{
    color: #cecece;
    font-size: 2rem;
}

.introducing p{
    font-size: 1.25rem;
    margin-bottom: 30px;
    width: 50%;
}

.introducing a{
    text-decoration: none;
    color: #777;
    padding: 20px;
    background-color: #fff;
}

.around-parent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    
}

.around-parent .flex-items {
    
    /*width: calc(100% / 4 - gutter /3); */
    flex: 1 ; 
    margin: 0.5%;
    /* width: 23%; */
}

.flex-items img {
    width: 100%;
    height: auto;
}

.small-heading .title{
    font-size: 0.4rem;

}

.large-heading{
    font-weight: 900;
    /*font-size: 1rem;*/

}

.title{
    color: #666;
}

footer{
    height: 170px;
    background: #3c3c3c;
    color: #cdcdcd;
    text-align: center;
    padding-top: 60px;
}

/* Media Queries */
@media only screen and (max-width: 768px){
    
    html {
        font-size: 14px;
    }
    
    body {
        background: lightblue; 
    } 
    
    h1{
        font-size: 2rem;
        text-align: center;
    }
    
    #container {
        width: 90vw;
    }
    
    .exploring-parent {
        flex-direction: column;
        align-items: center;
    }
    
    .around-parent{
        flex-direction: column;
        align-items: center;
    }
    footer {
        display: none;
    }
}

